@font-face {
    font-family: "Roboto Black";
    src:url("../fonts/Roboto-Black.ttf");
}
.main-container{
    background-color: #F5F6F7;
}
.head-menu{
    width: 577px;
    margin: 0 auto;
}
ul.head-menu-links li{
    display: inline-block;
    text-transform: uppercase;
    color: #16A085;
    font-size: 18px;
    font-family: "Roboto Black";
    font-weight: bold;
    padding: 20px;
}
a:visited{
    color: #16A085;
}
a{
    text-decoration: none;
}
.main-image{
    text-align: center;
    padding-top: 18px;
}
.slogan{
    padding-top: 59px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-family: "Roboto Black";
    color: #373737;
}
.p1-p2{
    padding-top: 34px;
    padding-left: 113px;
    padding-right: 108px;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto Black";
    color: #373737;
}
.button1{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.get-started{
    display: inline-block;
    padding: 20px 50px 20px 50px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    background-color: #16A085;
    font-family: "Roboto Black";
    font-size: 12px;
}
footer{
    font-family: "Roboto Black";
    font-size: 16px;
    color:#373737;
    text-align: right;
    padding-top: 40px;
    padding-right: 104px;
}